* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --gray: #C4C4C4;
  --black: #000000;
}
body {
  width: 100%;
  height: 100%;
}

.banner {
  background: url(https://media.istockphoto.com/photos/architecture-from-marco-zero-square-in-recife-downtown-picture-id1162468341?b=1&k=20&m=1162468341&s=170667a&w=0&h=_v6JqjFA6MuzQxFsYu5LS7VwBM-l0dUIrtmr2_vpUHY=)no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
} 
.container-fluid{

}
.nav li a, .nav-footer li a {
  text-decoration: none;
  color: var(--black);
}
.nav li a:hover, .nav-footer li a:hover, .nav-footer li:hover {
  text-decoration: none;
  color: white;
}

.filter {
  position: absolute;
  top: 200px;
  left: 20%;
  border-radius: 30px;
  background: white;
}
.filter .col {
  margin: 0px 25px;
}

/* header {
  width: 100%;
  height: 350px;
} 

.blockquote {
  position: absolute;
  top: 40%;
}
*/

.card {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: var(--gray);
}
input[type="text"] {
  padding: 5px;
  border-radius: 12px;
  width: 215px;
}
button {
  padding: 5px 20px;
  border-radius: 50px;
}
.nav-footer li{
  padding-right: 30px;
  padding-bottom: 5px;
}